
/* Evidenziazione posizioni */
tr.top1 {
  background-color: #004d00 !important; /* verde scuro */
  font-weight: bold;
}

tr.ultime4 {
  background-color: #660000 !important; /* rosso scuro */
}

#tabella-classifica td img {
  vertical-align: middle;
}
